﻿@{
    ViewData["Title"] = "Home Page";
}

<div>
    <label>Please input number:</label>
    <input type="text" id="ip-number" />
    <button id="btn-submit">Submit</button>
</div>
<label style="color:red">Nhập vào các chữ số cách nhau bởi dấu ',' và tối thiểu 25 chữ số. Ví du:1,2,3,4,5</label>

<div id="result" style="display:none">
    <label>Result: <span id="result-sort"></span></label>
</div>

<script src="~/js/check-number.js" asp-append-version="true"></script>